<div class="col">
  <div
    class="row mt-5 bg-body-tertiary rounded-3 text-bg-dark rounded-3 border shadow-lg"
    data-bs-theme="dark"
  >
    <div id="contentArea" class="container-fluid py-5"></div>
  </div>
</div>
